#servicios {
    background-color: #074D77;
}

#sobrenosotros {
    background-color: #B25E10;
}

#mapa {
    height: 100%;
    width: 100%;
}

.instagram {
    list-style: none;
}

.hrazul {
    background-color: rgb(244, 246, 251);
}

.textosn {
    padding-bottom: 5.5rem;
}

.iconow {
    padding-left: 6px;
    background-color: rgb(37 211 102);
    border-radius: 5px;
}

.imagen-portada {
    width: 100%;
}

.list-unstyled li {
    padding: 0.2em;
}

.contenedor-carousel {
    display: flex;
    justify-content: space-around;
}

.contenedor-carousel img {
    width: 100%;
    height: auto;
}

.img-d-block {
    object-fit: cover;
}

.textoproducto {
    text-align: center;
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
}

.contenedor-carousel {
    padding-bottom: 6.5rem;
}